.carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    height: 100%;
    width: 100%;
}

.carousel-cell {
    box-sizing: border-box;
    align-items: center;
    background: white;
    border: 5px black dashed;
    border-radius: 0.5rem;
    color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity, border 1s;
    transform-style: preserve-3d;

    height: 100%;
    width: 100%;

    &.focused {
        opacity: 1;
        border: var(--color-2) 5px solid;
    }
}
