// @import url("animation.css");
@import "animation";

:root {
    --font-family: "IBM Plex Mono", monospace;
    --color-1: #5b5ba4;
    --color-2: #ff3412;
}

* {
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

video {
    margin: 0;
    padding: 0;
}

#confetti {
    position: fixed;
    z-index: -1;
    aspect-ratio: 1;
    width: 100vw;
    height: 100vw;
}

header {
    display: flex;
    position: fixed;
    padding: 2rem;
    width: 100%;
    z-index: 10;

    i {
        font-size: 2rem;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

.square-box {
    position: relative;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;

    * {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.modal {
    --padding: 5rem;
    --size: calc(100% - 2 * var(--padding));
    display: grid;

    grid-template-areas:
        "title img"
        "content content";

    justify-items: center;
    align-items: center;

    position: fixed;
    margin: var(--padding);
    padding: 1rem;
    height: var(--size);
    width: var(--size);
    transform: translateY(-100%);
    top: 0;
    bottom: 0;
    align-items: center;
    border-radius: 0.5rem;
    color: white;

    justify-content: center;
    opacity: 0;

    transition: all 0.5s ease-in-out;
    z-index: -2;

    .image {
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        --size: 100%;
        height: var(--size);
        width: var(--size);

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;

            object-fit: cover;
            object-position: center center;
        }
    }

    .title {
        font-size: 3rem;
        grid-area: title;
    }

    .content {
        grid-area: content;
    }

    &.active {
        background-color: black;
        transform: translateY(0%);
        z-index: 10;

        opacity: 1;
    }
}

.title-main {
    display: flex;

    margin: auto;
    align-items: center;
    animation: up-n-fade 1000ms var(--bounce-in-ease);
    flex-direction: column;
    font-size: 3rem;
    justify-items: center;
}

.page {
    --padding: 1rem;

    display: flex;
    position: relative;
    padding: var(--padding);
    height: calc(100vh - 2 * var(--padding));
    width: calc(100vw - 2 * var(--padding));
    flex-direction: column;
}

.btn {
    display: flex;

    margin: 0;
    padding: 0.5rem 3rem;
    align-items: center;
    background-color: var(--color-1);
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    justify-content: center;
    transition: bounce-bezier(background-color);
}

.btn-prime {
    &:hover {
        background-color: var(--color-2);
    }
}

.btn-second {
    &:hover {
        background-color: var(--color-2);
    }
}

main {
    display: grid;

    height: 100%;
    width: 100%;
    align-content: center;

    grid-template-rows: 1fr 0.25fr;
    justify-items: center;
    row-gap: 1rem;

    .content {
        --padding: 1rem;
        --size: calc(100% - 2 * var(--padding));
        padding: var(--padding);
        height: var(--size);
        width: var(--size);

        align-self: end;
        max-height: 800px;
        max-width: 800px;
    }

    .bottom-row {
        display: grid;
        height: 100%;
        width: 100%;
        align-self: start;
        grid-auto-flow: column;
        justify-items: center;
        transition: bounce-bezier(all);
    }
}

.controls {
    display: grid;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;

    #start-btn {
        transition: bounce-bezier(translate, opacity);
        z-index: 1;
    }

    .rotate-container {
        display: grid;

        transform: translateY(-100%);
        gap: 0.25rem;
        opacity: 0;
        transition: bounce-bezier(translate, opacity);

        z-index: 0;
        @media screen and (min-width: 500px) {
            grid-auto-flow: column;
        }
    }
}

.carousel-cell {
    video {
        height: 100%;
        width: 100%;
        border: none;
    }
}
