@use "sass:math";

@function bounce-bezier($kind...) {
    @return transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, $kind 1s;
}

:root {
    font-family: "IBM Plex Mono", monospace;
    --color-1: #5b5ba4;
    --color-2: #ff3412;
    // --color-3:
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

video {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 2rem;
    display: flex;
    background-color: black;
    width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 0.25rem;

    ul {
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 1rem;
        list-style-position: inside;
    }
}

#confetti {
    position: fixed;
    z-index: -1;
}

.title {
}

.page {
    height: calc(100vh - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    align-items: center;
    background-color: var(--color-1);
    border: none;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem 3rem;
    transition: bounce-bezier(background-color);
    font-family: "IBM Plex Mono", monospace;
}

.btn-prime {
    &:hover {
        background-color: var(--color-2);
    }
}

.btn-second {
    &:hover {
        background-color: var(--color-2);
    }
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    height: 100%;
    width: 100%;

    grid-template-rows: 1fr 0.25fr;

    .bottom-row {
        display: grid;
        justify-items: center;
        grid-template-areas: "left controls right";

        grid-template-columns: 1fr 1fr 1fr;

        height: 100%;
        width: 100%;
        column-gap: 2rem;
        margin: 1rem;

        .controls {
            grid-area: controls;
        }

        .left {
            grid-area: left;
        }

        .right {
            grid-area: right;
        }

        .left,
        .right {
            display: grid;
            justify-items: center;

            transition: bounce-bezier(all);
            opacity: 0;
            --size: 10rem;

            height: var(--size);
            width: var(--size);

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

.controls {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 100%;

    #start-btn {
        transition: bounce-bezier(translate, opacity);
    }

    .rotate-container {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        position: absolute;
        transform: translateY(-200%);
        opacity: 0;
        transition: bounce-bezier(translate, opacity);
    }
}

.carousel-cell {
    video {
        height: 100%;
        width: 100%;
        border: none;
    }
}

@keyframes box-float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
}

.floating {
    border-radius: 0.5rem;
    animation: box-float 5s ease-in-out 0s infinite forwards;
}
