// @import url("animation.css");
@import "animation";

:root {
    --font-family: "IBM Plex Mono", monospace;
    --color-1: #5b5ba4;
    --color-2: #ff3412;
}

* {
    font-family: var(--font-family);
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

video {
    margin: 0;
    padding: 0;
}

#confetti {
    position: fixed;
    z-index: -1;
}

.title {
    margin: auto;
    font-size: 3rem;
    animation: up-n-fade 1000ms var(--bounce-in-ease);
}

.page {
    --padding: 1rem;
    padding: var(--padding);
    height: calc(100vh - 2 * var(--padding));
    width: calc(100vw - 2 * var(--padding));

    display: flex;
    flex-direction: column;
}

.btn {
    align-items: center;
    background-color: var(--color-1);
    border: none;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem 3rem;
    transition: bounce-bezier(background-color);

    margin: 0;
}

.btn-prime {
    &:hover {
        background-color: var(--color-2);
    }
}

.btn-second {
    &:hover {
        background-color: var(--color-2);
    }
}

main {
    display: grid;
    align-content: center;
    justify-items: center;

    grid-template-rows: 1fr 0.25fr;
    row-gap: 1rem;

    height: 100%;
    width: 100%;

    .content {
        --padding: 1rem;
        --size: calc(100% - 2 * var(--padding));
        padding: var(--padding);
        height: var(--size);
        width: var(--size);

        align-self: end;
        max-height: 800px;
        max-width: 800px;
    }

    .bottom-row {
        align-self: start;
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        height: 100%;
        justify-items: center;
        transition: bounce-bezier(all);
    }
}

.controls {
    display: grid;
    width: 100%;
    align-content: center;
    justify-items: center;
    align-items: center;

    #start-btn {
        z-index: 1;
        transition: bounce-bezier(translate, opacity);
    }

    .rotate-container {
        @media screen and (min-width: 500px) {
            grid-auto-flow: column;
        }

        z-index: 0;

        display: grid;
        gap: 0.25rem;

        transform: translateY(-100%);
        transition: bounce-bezier(translate, opacity);
        opacity: 0;
    }
}

.carousel-cell {
    video {
        height: 100%;
        width: 100%;
        border: none;
    }
}
